svg #ground {
	fill: #fff;
	stroke:grey;
}

svg .axis line {
	fill: none;
	shape-rendering: crispEdges;
}

svg .axis line#zeroLine {
		stroke: #ff4cf4;
}

svg #xAxis line {
	stroke: #e6e6e6;
}

svg #xAxis{
	fill: #666666;
}

svg .axis path {
	stroke: none;
	fill: none;
}

svg .axis text {
	font-family: webklavika;
	font-size: 12px;
}

svg .legendItem text {
	font-family: webklavika;
	font-size:  12px;
}

svg text.metaText {
	font-family: webklavika;
	font-size:  12px;
	text-rendering:   optimizeLegibility;
	fill:  #999999;
}
/*#cnbc-logo{
	width:99px;
	height:15px;
	background: url(http://fm.cnbc.com/applications/cnbc.com/resources/styles/skin/DATA-VISUALIZATION/CHART-BUILDER/img/cnbc-logo-charts.png) no-repeat;
}*/
 

svg text.barLabel, 
svg text.bargridLabel {
	font-family: webklavika;
	font-size: 12px
}
	
#titleLine {
	font-family: webklavika;
	font-size: 22px;
	fill: #666666;
	word-wrap:break-word;
}